body {
    background-color: #EBEBEB !important;
}

.card {

    cursor: pointer;
}

.table {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

